body {
    padding: 0;
    margin: 0;
    background: black;
  }
  
  /* Navigation bar */
  
  .navbar {
    background: black;
  }
  
  .nav-link,
  .navbar-brand {
    font-family: monospace;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
    font-family: monospace;
  }
  
  .nav-link:hover {
    color: #04f76d;
  }

  .navbar-brand:hover {
    color: #04f76d;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }

  .header {
    background-image: url('galaxy.JPG');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /* z-index: 1; */
 }
 
 /* Title animation */
 .large-header {
    background-image: url("galaxy.JPG");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .main-title {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }

 .main-subtitle {
  font-family: monospace;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 45%;
  left: 34%;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}

.main-subtitle .thin {
  font-weight: 100;
}

.about {
font-family: monospace;
  position: relative;
  margin: 0;
  padding: 10px;
  color: #F9F1E9;
  text-align: center;
  font-size: 2em;
  text-transform: none;
}

.detail {
  font-family: monospace;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 60%;
  left: 39%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.detail:hover {
  color: #04f76d;
}
 
 @media only screen and (max-width: 768px) {
    .main-title {
       font-size: 3em;
    }
 }

/* Titles */
.heading {
  font-family: monospace;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 5%;
  left: 45%;
  font-size: 3.2em;
  letter-spacing: 0.1em;
}

.heading .thin {
  font-weight: 100;
}

/* Card  */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Card */
.card {
  background-color:black;
  font-family: monospace;
}

.card-body {
  color: white;
}

.card-title {
  color: white;
  margin-top: 1rem;
}

.btn {
  color:white;
  font-family: monospace;
}
.btn:hover {
  color: #04f76d;
}

.img:hover {
  color: #04f76d;
}
